@keyframes stroka {
    from {
        transform: translateX(0);
    }
 
    to {
        transform: translateX(-50%);
    }
}

@keyframes korzinka {
    0% {
        transform: rotate(5deg);
    }
 
    25% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes korzinka2 {
    0% {
        transform: rotate(-5deg);
    }
 
    25% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes dontforgett {
    0% {
        transform: rotate(-8.839deg); 
    }

    25% {
        transform: rotate(-12deg); 
    }
    50% {
        transform: rotate(-8.839deg);
    }
    75% {
        transform: rotate(-4.839deg);
    }
    100% {
        transform: rotate(-8.839deg);
    }
}