@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono-ExtraBold.ttf') format('TrueType');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono Regular';
    src: url('../fonts/JetBrainsMono-Regular.ttf') format('TrueType');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MonsieurLaDoulaise';
    src: url('../fonts/MonsieurLaDoulaise-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}